<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Element demo</title>

    </head>
    <body>

    <div id="tours">
        <h1>Guided Tours</h1>
        <ul>
            <li class="usa tour">
                <h2>New York, New York</h2>
                <span class="details">$1,899 for 7 nights</span>
                <button id="book">Book Now</button>
            </li>
        </ul>
    </div>


        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script>
            $(document).ready(function () {
                $('#book').on('click', function(){
                    var span = $.ajax('/rest', {
                        success: function(response){
                            var resp = $('<p>' + response + '</p>');
                            $('#book').text('Book Now');
                            $('#tours').append(resp);
                        },
                        beforeSend: function(){
                            $('#book').text('Fetching...');
                        }
                    });
                });
            });
        </script>
    </body>
</html>